*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}
    
.main {
    background-color: rgb(36, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
    color: inherit;
}

.title1 {
    font-size: 100px;
    color: rgb(47, 151, 143);
    text-align: center;
}

.links {
    font-size: 50px;
    color: aquamarine;
    margin-left: 70px;
}

.link1, .link2, .link3 {
    border: solid white 5px;
    padding: 10px 20px;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 20px;
    

}

.boiledegg {
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: rgb(146, 22, 22);
}

.list {
    text-align: center;
}

#oatmeal {
    background-color: rgba(250, 113, 2, 0.5);
}
#title {
    font-size: 70px;
    color: gold;
}
#lasagna {
    background-color: darkorange;
    text-align: right;
}

.lasagna {
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}